# Copy to inventory.ini and fill in your machine IPs
# ansible/inventory.ini is gitignored

# Docker Compose targets (playbook-setup.yml, playbook-profile.yml)
[dev]
<DEV_IP> ansible_user=ubuntu ansible_ssh_private_key_file=keys/docker-compose.pem

[prod]
<PROD_IP> ansible_user=ubuntu ansible_ssh_private_key_file=keys/docker-compose.pem

[targets:children]
dev
prod

# Kubernetes target (playbook-k8s-setup.yml, playbook-k8s-scale.yml)
[k8s]
<K8S_IP> ansible_user=root ansible_ssh_private_key_file=keys/k8s.pem

[all:vars]
ansible_ssh_common_args='-o StrictHostKeyChecking=no'
